html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.heading {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color: #000;
}
/*--------------------------------------------------------------------Navbar*/
.navbar-brand {
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
    font-size: 35px;
}
.navbar-nav li {
    font-size: 20px;
}
/*--------------------------------------------------------------------Footer*/
#footer-bar {
    background-color: #6c757d;
    color: #fff;
}
/*--------------------------------------------------------------------Jumbotron*/
.jumbotron-fluid {
  background-image: url("../images/bg.jpg");
  background-size: cover;
}
/*--------------------------------------------------------------------Meet The Band*/
.about {
    padding: 30px 0;
    text-align: center;
}
.about h2 {
    position: relative;
    padding: 0px 0px 15px;
}
.about p {
    font-size: 15px;
    padding: 0px;
    margin: 25px 0px 40px;
}
.about h2::after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 90px;
    margin: 0 auto;
    display: block;
}
.about .member {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.about .member .member-info {
    display: block;
    position: absolute;
    bottom: 0px;
    left: -200px;
    transition: 0.4s;
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.7);
}
.about .member:hover .member-info {
    left: 0px;
    right: 0px;
}
.about .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}
.about .member span {
    font-style: italic;
    display: block;
    font-size: 15px;
    color: #fff;
}
.about .member {
    margin-top: 15px;
}
.card-body {
    color: #6c757d;
}
/*--------------------------------------------------------------------Discography*/
.discography {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
/*--------------------------------------------------------------------Events*/
.essential-info {
    font-size: 15px;
}
.modal-header > h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color: #FF0000;
    text-shadow: 1.2px 1.2px #000;
}
/*--------------------------------------------------------------------Media Queries*/
@media only screen and (max-width: 280px) {

}
@media only screen and (max-width: 320px) {

}
@media only screen and (max-width: 576px) {

}
@media only screen and (max-width: 768px) {
    .jumbotron-fluid {
        height: 250px;
        width: auto;
    }
}
@media only screen and (min-width: 992px) {
    .jumbotron-fluid {
        height: 600px;
        width: auto;
    }
}
