html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #343a40;
    color: #fff;
    overflow-x: hidden;
}
.heading {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
}
.socials {
    background-color: #495057;
}
/*--------------------------------------------------------------------Navbar*/
.navbar-brand {
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
    font-size: 35px;
}
.navbar-nav li {
    font-size: 20px;
}
.navbar-dark {
    background-color: #212529 !important;
}
/*--------------------------------------------------------------------Footer*/
#footer-bar {
    background-color: #6c757d;
    color: #fff;
}
#footer-bar a {
    color: inherit;
    text-decoration: none;
}
.fa-arrow-alt-circle-up{
    font-size: 50px;
    position: absolute;
    right: 15px;
}
/*--------------------------------------------------------------------Jumbotron*/
.jumbotron-fluid {
  background-image: url("../images/bg.jpg");
  background-size: cover;
}
.jkquote {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.4);
    
}
.blockquote p {
    font-family: 'Special Elite', cursive !important;
}
/*--------------------------------------------------------------------Meet The Band*/
.about {
    text-align: center;
}
.about p {
    font-size: 15px;
}
.about h2::after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 90px;
    margin: 0 auto;
    display: block;
}
.about .member {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.about .member .member-info {
    display: block;
    position: absolute;
    bottom: 0px;
    left: -200px;
    transition: 0.4s;
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.7);
}
.about .member:hover .member-info {
    left: 0px;
    right: 0px;
}
.about .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}
.about .member span {
    font-style: italic;
    display: block;
    font-size: 15px;
    color: #fff;
}
.about .member {
    margin-top: 15px;
}
.meet p {
    font-size: 16px;
}
/*--------------------------------------------------------------------Discography*/
.spotify {
    margin: 0 10px 0 11px;
}
.table-highlight {
    background-color: slategray !important;
}
/*--------------------------------------------------------------------Events*/
.essential-info {
    font-size: 15px;
}
.modal-header > h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color: #d9534f;
    text-shadow: 1.2px 1.2px #000;
}
.card, .card-title, .card-text {
    background-color: transparent;
    border: none;
    color: #fff;
}
.form-check-label, .essential-info {
    color: #000 !important;
}
.team-section {
    background-color: #212529;
}
/*--------------------------------------------------------------------Media Queries*/
@media only screen and (min-width: 280px) {
    .navbar-brand {
        font-size: 28px !important;
    }
    .heading {
        font-size: 30px;
    }    
    .meet p, .discography p, .gigs p {
        font-size: 13px;
    }
    .jumbotron-fluid {
        height: 200px;
        width: auto;
    }  
    .spotify {
        width: 300px;
        height: 80px;
    }
    .blockquote p {
    font-size: 15px;
    }
}
@media only screen and (min-width: 320px) {
    .jumbotron-fluid {
        height: 250px;
        width: auto;
    }  
    .spotify {
        width: 300px;
        height: 80px;
    }
    .blockquote p {
        font-size: 15px;
    }
}
@media only screen and (min-width: 576px) {
    .jumbotron-fluid {
        height: 250px;
        width: auto;
    }
    .spotify {
        width: 300px;
        height: 80px;
    }
    .blockquote p {
        font-size: 18px;
    }
}
@media only screen and (min-width: 768px) {
    .jumbotron-fluid {
        height: 400px;
        width: auto;
    }
    .spotify {
        width: 300px;
        height: 80px;
    }
    .blockquote p {
        font-size: 21px;
    }
}
@media only screen and (min-width: 992px) {
    .jumbotron-fluid {
        height: 600px;
        width: auto;
    }
    .spotify {
        width: 300px;
        height: 80px;
    }
}
@media only screen and (min-width: 1281px) {
    .spotify {
        width: 300px;
        height: 380px;
    }
    .blockquote p {
        font-size: 30px;
    }
    .blockquote-footer {
        font-size: 20px;
    }
    .navbar-brand {
        font-size: 50px !important;
    }
    .heading {
        font-size: 45px;
    }    
    .meet p, .discography p, .gigs p {
        font-size: 16px;
    }
}
